/* Standard settings */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
	margin: 0 !important;
	padding: 0 !important;
	background-color: #ded2b7;
}
#wrapper {
	min-height: 100vh !important;
}

/* Text settings */
@font-face {
	font-family: flashbackDemo;
	src: url("../fonts/flashbackDemo.ttf") format("truetype");
}
@font-face {
	font-family: typewriter;
	src: url("../fonts/travelingTypewriter.ttf") format("truetype");
}
h1, h2, h3, h4, h5 {
	margin: .5rem 0;
    font-weight: bold;
    line-height: 1.2;
}
h1{
	font-family: flashbackDemo;
	margin: .5rem 0 -0.5rem;
}
h2, h3, h4, h5 {
	font-family: typewriter;	
}
p{
	font-family: cambria;
	font-size: 1.5rem;
    line-height: 1.15;
}
#menu li a {
	font-family: typewriter;	
	color: white;
	text-decoration: none;
	font-size: 2rem;
    font-weight: bold;
    line-height: 1.15;	
}

/* Menu bar settings */
#title{
	text-align: center;
	flex-basis: 100%;
}
#menu {
	margin: 0 auto;
	max-width: 90%;
	padding: 1rem 0 1rem;
	list-style-type: none;
	font-family: typewriter;
}
#menu li {
	float: left;
	
	display: flex; 
	justify-content: center; 
	align-items: center;
	margin: 4px 8px;
}

/*  Wood info bars */
.woodInfoBar{
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    display: flex;
    align-items: center; /* horizontal */
    justify-content: center; /* vertical */	
}
#titleBar{
	background-image: url("../images/woodBackground.jpg");	
	display: flex;
	flex-wrap: wrap;
}
#bottomBar{
	background-image: url("../images/woodBackgroundSmall.jpg");
}

/* Side bars */
.sideBar{
	position: fixed;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: repeat-y;
}
#leavesLeft{
	background-image: url("../images/leavesLeft.png");
}
#leavesRight{
	background-image: url("../images/leavesRight.png");
	right: 0;
}

/* Other */
#gradientBackground{
	background-image: linear-gradient(#ded2b7,#f8f3ec);	
}
#pageContent {
	width: 1000px;
	max-width: 80%;
	margin: 2rem auto;
}
#pageContent img{
	width: 100%;
}

/* Screen size dependent sizing & positioning */
@media only screen and (min-width: 1101px) {
	#wrapper{
		margin: 0 auto -70px;
	}
	#bottomBar, .overlap{
		height:79px;
	}

	h1{
		font-size: 130px;
	}
	h2 {
		font-size: 35px;
	}
	
	.sideBar{
		width: 150px;
	}
}
@media only screen and (max-width: 1100px) { 
	#wrapper{
		margin: 0 auto -70px;
	}
	#bottomBar, .overlap{
		height:73px;
	}

	h1 {
		font-size: 85px;
	}
	h2 {
		font-size: 28px;
	}
	#menu li a {
		font-size: 1.5rem;
	}
	
	.sideBar{
		width: 135px;
	}
}

@media only screen and (max-width: 600px) {
	#wrapper{
		margin: 0 auto -50px;
	}

	#bottomBar, .overlap{
		height:53px;
	}
	
	h1 {
		font-size: 70px;
	}	
	h2 {
		font-size: 20px;
	}
	#menu li a {
		font-size: 1.2rem;
	}
	
	.sideBar{
		width: 85px;
	}
}