body{
	background-image: linear-gradient(#c9c1b6,#f8f3ec);
	font-family:Helvetica, sans-serif;
	font-weight:100;
	font-size:5vw; 
	line-height:1.6em;
	text-align:center;
}

@font-face {
	font-family: flashbackDemo;
	src: url("../fonts/flashbackDemo.ttf") format("truetype");
}
	
@font-face {
	font-family: typewriter;
	src: url("../fonts/travelingTypewriter.ttf") format("truetype");
}

.button1{ 
	text-decoration: none; 
    height: 3vw;
    text-align: center;
    border-radius:5px;
    color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  overflow: hidden;
  background-image: url("../images/woodBackground.jpg"); 
}

li {
  float: left;
}


li a {
  display: block;
  color: white;
  text-align: center;
  font-family: typewriter;
  font-size: 2vw;
  padding: 16px;
  text-decoration: none;
}

.titlebar{
	margin-bottom: 10px; 
	text-align: center;
	font-size: 8vw;
	font-family: flashbackDemo!important;
	color: #463220;
} 
.iframe {
	margin-top: 30px;
}

	.bottomBar{
		margin-bottom: 10px; 
		text-align: center;
		font-size: 1vw;
		font-family: typewriter!important;
		color: #463220;
		
	}