.titleBar{
	/*background-image: url("../images/titleBar.png");*/
}

.titleBarImage{
	margin-top: 2rem;
	padding: 20px 0 20px 0;
	width: auto;
	background-image: url("../images/titleBar.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@font-face {
	font-family: flashbackDemo;
	src: url("../fonts/flashbackDemo.ttf") format("truetype");
}

h1{
	font-family: flashbackDemo  !important;
	font-size: 180px;
}

@media only screen and (max-width: 1100px) { 
	.titleBarImage{
		margin-top: 0;
		padding: 10px 0 10px 0;
	}

	h1 {
		font-size: 110px;
	}
}

@media only screen and (max-width: 600px) {
	.titleBarImage{
		margin-top: 0;
		padding: 5px 0 5px 0;
	}

	h1 {
		font-size: 80px;
	}
}