@font-face {
	font-family: flashbackDemo;
	src: url("../fonts/flashbackDemo.ttf") format("truetype");
}

@font-face {
	font-family: typewriter;
	src: url("../fonts/travelingTypewriter.ttf") format("truetype");
}

#titleBar{
	background-image: url("../images/woodBackground.png");	
	height: 150px;
}

#topSpacing{
	width: 100%;
	height: 2rem;
}

#bottomBar{
	background-image: url("../images/woodBackgroundSmall.png");	
}

.imageContainer{/*1,48666667*/
	height:743px;/*1115*/
	width:500px;/*750*/
	margin:0 auto;
}

#saveTheDateImg{
	background-image: url("../images/saveTheDate.png");	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.woodInfoBar{
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
        vertical-align: middle;
}

#wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -70px;
}

#bottomBar, .overlap, h2{
	height:70px;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

h1{
	font-family: flashbackDemo !important;
	font-size: 130px;
}

h2 {
	font-size: 35px;
}

h2, p {
	font-family: typewriter !important;	
}

@media only screen and (max-width: 1100px) { 
	.woodInfoBar{
		margin-top: 0;
	}

	h1 {
		font-size: 110px;
	}

	h2 {
		font-size: 45px;
	}
}

@media only screen and (max-width: 600px) {
	.woodInfoBar{
		margin-top: 0;
	}

	#topSpacing {
		height: 0;
	}
	
	h1 {
		font-size: 80px;
	}
	

	h2 {
		font-size: 35px;
	}
}