h1{
	text-align: center;
}

#gameInfo{
	position: fixed;
	top: 10px;
	z-index: 1;
	
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameInfoItem{
	margin: 10px;
}

#invitation{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 600px;
    transform: translate(-50%, -50%);
    background-color: aqua;
    display: none;
}

.infoText{
    display: none;
}