h1{
	text-align: center;
}

#gameIntroScreen{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
	
	width: 100%;
	height: 100%;
	background-color: #f3e4bf;
}

#gameIntroScreen img{
	height: 100%;
	position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

#gameIntroScreen button{
	position: fixed;
	width: 250px;
	height: 50px;
	bottom: 4.8%;
    left: 50%;
    transform: translate(-50%, 0);
	background-color: #1a2312;
	color: #f3e4bf;
    outline: none;
}

#gameIntroScreen button:hover{
	width: 260px;
	height: 60px;
	bottom: 4.8%;
    transform: translate(-50%, 5px);
}

#gameIntroScreen button:active{
	width: 260px;
	height: 60px;
	bottom: 4.8%;
    transform: translate(-50%, 5px);
}

#gameInfo{
	position: fixed;
	top: 0px;
	z-index: 1;
	
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameInfoItem{
	margin: 10px;
}

#invitation{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 700px;
    width: 600px;
	max-width: 90% !important;
	max-height: 95% !important;
    transform: translate(-50%, -50%);
    background-color: aqua;
    display: none;
	padding: 10px;
}

#invitation button{
	bottom: 40px;
	height: 30px;
	display: block;
	margin: auto;
}

.infoText{
    opacity: 0;
    -webkit-transition: opacity 1s ease-in;
       -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
         -o-transition: opacity 1s ease-in;
            transition: opacity 1s ease-in;
}

.infoText.visible{
	opacity: 1;
}

#searchPlateContainer{
	display: table;
	margin: auto;
	position: relative;
	white-space: nowrap;
	cursor: pointer;
	margin-top: 40px;
}

.searchPlateItem{
	position: absolute;
    outline: none;
}