body{	
	background-image: linear-gradient(#ded2b7,#f8f3ec);
}
ul{
	text-align: middle;

}

h2 {
	font-size: 2vw;
	font-family: cambria;
}

.center{
	max-width:40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	
} 

.align {
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	font-size: 1 vw;
	font-family: cambria;
	margin-bottom: 30px;
	
}


