#searchPlateContainer{
	width: 90%;
}

#searchPlateContainer img {
	width: 100%;
}

.searchPlateItem{
	width: 4%;
}

.searchPlateItem:active{
	width: 5%;
    transform: translate(-10%, -10%);
}

#item1{
	left: 89%;/*1258*/
	top: 18%;/*376*/
}

#item2{
	left: 19%;/*272px;*/
	top: 48%;/*970px;*/
}

#item3{
	left: 6%;/*84px;*/
	top: 16.7%;/*334px;*/
}

#item4{
	left: 6%;/*90px;*/
	top: 93%;/*1864px;*/
}

#item5{
	left: 79%;/*90px;*/
	top: 93%;/*1864px;*/
}