#searchPlateContainer{
	width: 82%;
}

#searchPlateContainer img {
	width: 100%;
}

.searchPlateItem:hover{
	width: 4%;
    transform: translate(-10%, -10%);
}

#item1{
	left: 57%;/*200*/
	top: 53%;/*260*/
}

#item2{
	left: 86%;/*20px;*/
	top: 90%;/*670px;*/
}

#item3{
	left: 25%;/*56px;*/
	top: 71.7%;/*1076px;*/
}

#item4{
	left: 78%;/*856px;*/
	top: 20%;/*289px;*/
}

#item5{
	left: 9%;/*210;*/
	top: 22%;/*572;*/
}