#searchPlateContainer{
	width: 82%;
}

#searchPlateContainer img {
	width: 100%;
}

.searchPlateItem:hover{
	width: 4%;
    transform: translate(-10%, -10%);
}

#item1{
	left: 89.8%;/*1258*/
	top: 18.8%;/*376*/
}

#item2{
	left: 37%;/*20px;*/
	top: 13%;/*670px;*/
}

#item3{
	left: 25%;/*56px;*/
	top: 71.7%;/*1076px;*/
}

#item4{
	left: 70%;/*856px;*/
	top: 19,3%;/*289px;*/
}

#item5{
	left: 10%;/*210;*/
	top: 49%;/*572;*/
}