#searchPlateContainer{
	width: 82%;
}

#searchPlateContainer img {
	width: 100%;
}

.searchPlateItem:hover{
	width: 4%;
    transform: translate(-10%, -10%);
}

#item1{
	left: 92%;/*200*/
	top: 24%;/*260*/
}

#item2{
	left: 92%;/*20px;*/
	top: 62%;/*670px;*/
}

#item3{
	left: 9%;/*56px;*/
	top: 22%;/*1076px;*/
}

#item4{
	left: 3%;/*856px;*/
	top: 90%;/*289px;*/
}

#item5{
	left: 75.4%;/*210;*/
	top: 92%;/*572;*/
}